<!DOCTYPE html>
<html>
<head>
  <title>Rome Fiber - Campaign for World-Class Residential Internet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>

<h1>Rome Fiber</h1>

<%= yield %>

<footer>2015 Joe Pasqualetti</footer>

<nav>
  <a href="/">Home</a>
  <a href="http://crowdfiber.com/campaigns/rome-fiber/">Sign up at CrowdFiber.com!</a>
</nav>

</body>
</html>
